USERS:
    - access_key: YOUR_ACCESS_KEY_HERE  # 替换为你的 access_key
      white_uid: 0  # 白名单用户ID，多个用英文逗号分隔，不用就填0
      banned_uid: 0  # 黑名单UID，多个用英文逗号分隔，不用就填0

    # 注意对齐
    # 多用户以上格式添加
    # 井号后为注释 井号前后必须有空格！井号前后必须有空格！井号前后必须有空格！
    # 冒号后面也要有空格！冒号前面也要有空格！冒号前面也要有空格！
    # 英文冒号,英文逗号！英文逗号！英文逗号！

#########以下一般不用改#########
ASYNC: 0 # 异步执行,默认同步执行,设置为1则异步执行
WATCHINGLIVE: 25 # 每日每直播间观看时长，单位 min ，设置为0则关闭, 默认 25 分钟
# 总观看时长为未满20级牌子数*每直播间观看时长
#########以上一般不用改#########

VERBOSE_LOG: 0 #  日志详细程度,设置为1打印详细日志,设置为0只打印关键信息


# 多用户之间是异步执行，不受配置影响








